table{
    width: 400px;
    padding-left: 30px;
}
input{
    width: 400px;
    height: 30px;
}
button{
    background: rgb(31, 141, 214);
    border: none;
    width: 40px;
    height: 30px;
    border-radius: 2px;
}